.info-shuffle {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  border: 0 none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  animation-name: infoShuffleAni;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  span {
    display: inline-block;
    color: #000;
    text-align: center;
    white-space: nowrap;
  }
  &::after {
    content: "";
    position: absolute;
    left: calc(50% - 6px);
    bottom: -6px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid rgba(255, 255, 255, 0.8);
    clear: both;
  }
  @keyframes infoShuffleAni {
    0% {
      margin-top: 0;
    }
    80% {
      margin-top: 0;
    }
    90% {
      margin-top: 10px;
    }
    100% {
      margin-top: 0;
    }
  }
}
