.show-battle-result {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 5000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  &.win {
    background-image: url('../../../images/svg/blackandwhite1/ico_win.svg');
  }
  &.die {
    background-image: url('../../../images/svg/blackandwhite1/ico_die.svg');
  }
  &.drew {
    background-image: url('../../../images/svg/blackandwhite1/ico_drew.svg');
  }
}
