@use '../../mixin/animation.scss' as anim;

@include anim.keyframes(moveUserIcon) {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}
@include anim.keyframes(boardSelectActive) {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.7;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@include anim.keyframes(cardActiveAnimation) {
  0% {
    clip-path: polygon(0% 0%, 0% 100%, 50% 100%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 100%, 100% 100%, 100% 0%);
  }
  50% {
    clip-path: polygon(0% 0%, 0% 100%, 0 100%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%, 100% 100%, 100% 0%);
  }
  51% {
    // 이미지가 안보임
    clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%);
  }
  100% {
    // 이미지가 다보임
    clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 50%, 75% 50%, 75% 50%, 25% 50%, 25% 100%, 100% 100%, 100% 0%);
  }
}
@include anim.keyframes(cardActiveAnimationLoop) {
  0% {
    clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 50%, 75% 50%, 75% 50%, 25% 50%, 25% 100%, 100% 100%, 100% 0%);
  }
  20% {
    clip-path: polygon(10% 10%, 10% 90%, 25% 90%, 25% 50%, 75% 50%, 75% 50%, 25% 50%, 25% 90%, 90% 90%, 90% 10%);
  }
  40% {
    clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 50%, 75% 50%, 75% 50%, 25% 50%, 25% 100%, 100% 100%, 100% 0%);
  }
  100% {
    clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 50%, 75% 50%, 75% 50%, 25% 50%, 25% 100%, 100% 100%, 100% 0%);
  }
}
@include anim.keyframes(selectCardFailEffect) {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 0;
  }
}
