@use '../../mixin/animation.scss' as anim;

.player-icon,
.enemy-icon {
  position: absolute;
  background-color: #000;
  transition: left 1s ease-in, top 1s ease-in, width 1s ease-in, height 1s ease-in;
  z-index: 2001;
  &.move {
    @include anim.animation(moveUserIcon, 1s, 1, normal, none, ease-in-out);
  }
}
.pc {
  .player-icon {
    cursor: move;
  }
}
