.player-block {
  top: 60%;
  height: 40%;
  background-color: #6faaad;
  box-sizing: border-box;
  border: 10px solid #e7edf0;
  border-top: 0 none;
  &.over {
    background-color: #518486;
  }
  &.disabled {
    background-color: #3f6d6e;
  }
  &.round-fin {
    .player-card {
      bottom: -200%;
      transition: all 0.2s ease-in;
    }
  }
  &.round-restart {
    .player-card {
      bottom: -30%;
      transition: all 0.2s ease-in;
    }
  }
  &.win {
    border: 10px solid #e7edf0;
    z-index: 9000;
    background-color: #ccc;
    top: 0;
    height: 100%;
    transition: top 0.2s ease-in, height 0.2s ease-in, background-color 0.2s ease-in;
  }
}
