:root {
  --main-card-top: 0;
  --main-card-size: 0;
  --main-card-overlay: 0;
  --main-card-transition-duration: 0;
}

.game-cards {
  width: 100vw;
  height: 100vh;
  position: relative;
  div {
    &.card {
      position: fixed;
      // left: 50%;
      // top: 0;
      // top: calc(var(--main-card-top) + 50%);
      width: calc(var(--main-card-size) / 2 + var(--main-card-overlay));
      height: var(--main-card-size);
      // z-index: 2;
      &.l, &.r {

      }
      &.l {

      }
      &.r {

      }

      &.indianPocker {
        background-color: #111;
      }
      &.blackAndWhite1 {
        background-color: #222;
      }
      &.findTheSamePicture {
        background-color: #333;
      }
      &.gameCardTest1 {
        background-color: #444;
      }
      &.gameCardTest2 {
        background-color: #555;
      }
      &.gameCardTest3 {
        background-color: #666;
      }
    }
    &.card-rotate-ani {
      .card {
        transition-property: transform;
        transition-duration: var(--main-card-transition-duration);
        transition-timing-function: ease-out;
      }
    }
  }
}
