:root {
}

.game-cards {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  svg {
    &.card {
      position: absolute;
      left: 0;
      top: 0;
      width: 100vw;
      height: 100vh;
      overflow: visible;
      pointer-events: none;
      /*
      * 정확히 화면 중심 기준으로 회전
      */
      transform-origin: 50% 50%;
      &.indianPocker {
        path {
          fill: #111;
        }
      }
      &.blackAndWhite1 {
        path {
          fill: #222;
        }
      }
      &.findTheSamePicture {
        path {
          fill: #333;
        }
      }
      path {
        pointer-events: visiblePainted;
        cursor: pointer;
      }
    }
  }
}
