<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,user-scalable=no" />
    <title>Black and White 1 | BATTLE TWO</title>
  </head>
  <body>
    <div id="container">
      <!-- GAME SCENE -->
      <div id="gameScene">
        <div class="enemy-block"></div>
        <div class="player-block">
          <ul class="cube">
            <li class="even" draggable="true">0</li>
            <li class="odd" draggable="true">1</li>
            <li class="even" draggable="true">2</li>
            <li class="odd" draggable="true">3</li>
            <li class="even" draggable="true">4</li>
            <li class="odd" draggable="true">5</li>
            <li class="even" draggable="true">6</li>
            <li class="odd" draggable="true">7</li>
            <li class="even" draggable="true">8</li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
