<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,user-scalable=no" />

    <meta name="title" content="BATTLE TWO - 2 player game" />
    <meta name="author" content="TIME ART GAME" />
    <meta name="keywords" content="battle, two, 2, play, player, game, online, web, web game, 2 people" />
    <meta name="description" content="Two player game on the web" />

    <meta name="apple-mobile-web-app-status-bar" content="#000" />

    <link rel="icon" type="image/x-icon" href="/client/assets/images/icons/favicon-icon.ico" />
    <title>INDIAN POCKER | BATTLE TWO</title>
  </head>
  <body>
    <div id="container">
      <!-- GAME SCENE -->
      <div id="gameScene"></div>
    </div>
  </body>
</html>
